body {
    background-color: rgb(0, 0, 0);
}

.seccion-card {
    margin-left: 100px;
}

#index {
    padding-top: 10px;
    padding-bottom: 6px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1 {
    font-size: 3.5rem;
}

h1:hover {
    color: darkorange !important;
    transform: scale(1.5);
}

.frase-titulo:hover {
    color: darkorange !important;
    transform: scale(1.25);
}

.titulo-card, .botones-card {
    height: 4rem;
    margin-bottom: 24px;
    background-color: darkorange !important;
}

.texto-card:hover {
    color: #0d6efd !important;
    transform: scale(1.25) !important;
}

.fondo-card {
    background-color: darkorange;
}

.texto-card {
    font-size: 2rem;
    padding-top: 12px;
}

footer {
    height: 3rem;
    margin-bottom: 24px;
}

.card {
    border: 4px solid #6c757d ;
}

.card:hover {
    background-color: darkorange;
    color: white;
    border: none;
}

.nav-link:hover {
    color: darkorange;
    transform: scale(1.25) !important;
}

.card-img-top {
    height: 350px;
    width: auto;
}

.btn-dark {
    border-color: darkorange;
    color: darkorange;
}

.btn-dark:hover {
    background-color: darkorange;
    border: none;
    color: white;
}

.btn-secondary {
    border: none;
}

.btn-secondary:hover {
    background-color: black;
    border: none;
}

.modal-title {
    color: #0d6efd;
}

.modal-body {
    color: black;
}